// Tipografia Principal
$font-stack-ebrima: 'Ebrima', sans-serif


// Colores
$background-color: #FBFBFB
$primary-color: #263238
$secondary-color: #2E393E
$accent-color: #00FF00
$font-color: #373737
$subtitle-color-one: #2699FB
$subtitle-color-two: #85C4F9
$white-text: #ffffff

