#footer
    background: $primary-color 
    text-align: center
    color: $white-text

.footer-block
    width: 80%
    margin: 0 auto

    img
        width: 100px
        height: 100px

    p
        font-size: 22px

    img.footer-logos
        width: 60px
        height: 60px
        margin: 10px
        transition: all 0.2s ease
    img.footer-logos:hover
        width: 65px
        height: 65px
        margin: 5px 10px