#formacion
    background: $primary-color
    text-align: center
    color: $white-text

    h1
        text-align: center
        font-size: 35px

        @media screen and ( min-width: 1367px )
            font-size: 45px
        @media screen and ( max-width: 420px )
            font-size: 28px
    
.formacion-block
    display: flex
    align-items: center
    width: 100%
    margin: 50px auto

    @media screen and ( max-width: 1140px )
        width: 90%
    @media screen and ( max-width: 960px )
        display: block
        width: 50%
        text-align: center
        justify-content: center
        margin: 60px auto
    @media screen and ( max-width: 600px )
        width: 80%
    @media screen and ( max-width: 420px )
        width: 90%
        margin: 30px auto
        
.formacion-item
    background: rgb(46,57,62)
    border-radius: 35px
    padding: 90px 28px 90px 28px
    margin: 20px
    width: 100%

    @media screen and ( max-width: 1140px )
        padding: 90px 20px 90px 20px
        margin: 10px
    @media screen and ( max-width: 960px )
        padding: 60px 20px 60px 20px
        margin: 10px 0 auto

    h2
        font-size: 20px
        color: $subtitle-color-two
        margin: 0 auto

        @media screen and ( max-width: 1140px )
            font-size: 18px
        @media screen and ( max-width: 960px )
            font-size: 20px
        //@media screen and ( max-width: 420px )
            //font-size: 18px
    p
        font-size: 18px
        margin-top: 5px

        @media screen and ( max-width: 1140px )
            font-size: 16px
        @media screen and ( max-width: 420px )
            font-size: 18px