#formacion
    background: url("/img/formacion-img.png") no-repeat
    background-size: cover
    text-align: center
    align-items: center
    color: $white-text

.formacion-block
    width: 55%
    margin: 0 auto

    h1
        font-size: 45px
    h2
        font-size: 30px
        color: $subtitle-color-two
        margin: 0 auto
    p
        font-size: 25px
