nav
    float: right
.main-nav
    display: flex

    li
        list-style: none

        a
            display: block
            border-radius: 4px
            padding: 15px 15px
            text-decoration: none
            color: $white-text
            font-size: 20px
            

        a:hover, a:active
            color: $accent-color
            


    
