#projects
    background: $primary-color
    text-align: center
    color: $white-text

.projects-block
    h1
        font-size: 45px

    p
        font-size: 22px

.device
    width: 80%
    margin: 0 auto

    img
        margin: 30px 0 20px 0


.project-group-block
    display: flex

.img-project
    display: flex
    justify-content: center
    align-items: center
    width: 40%

.project-desc
    width: 55%

.description
    text-align: left
    p
        font-size: 25px

.logo-block
    display: flex

.tech-logo 
    margin-right: 20px
    p
        margin: 0