#skills
    text-align: center
    color: $font-color

.skills-block
    width: 100%
    margin: 0 auto
.skills
    display: grid
    grid-template-columns: repeat(3,auto)

.skills-card
    width: 80%
    height: 413px
    margin: 0 auto
    padding: 40px
    background: white
    border-radius: 5px
    box-shadow: 5px 5px 10px $primary-color
